:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --editor-color: #383f47;
}

body {
  margin: 0;
}

button {
  border: none;
  border-radius: 0;
  padding: 1rem;
  font-size: 1.5rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.game-screen {
  display: grid;
  width: 100%;
  grid-template:
    "editor game game"
    "editor game game"
    "editor debug debug";
  height: 100vh;
}

#editor {
  grid-area: editor;
  width: 50vw;
}
#editor #script-editor {
  width: 100%;
  height: calc(100% - 4.5rem);
}

#debug-panel {
  grid-area: debug;
}

.controls {
  display: flex;
  justify-content: end;
}

#run {
  background-color: #0a5c47;
}
#run:hover {
  background-color: #2f413c;
  cursor: pointer;
}

#console {
  font-size: 1.5rem;
  height: calc(7 * 2.5rem);
  overflow-y: auto;
  background-color: #27282b;
  padding: 1rem;
}
